* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

body {
  background-color: #000;
}

img {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

button {
  cursor: pointer;
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: inherit;
}

.social img {
  width: 30px;
  height: 30px;
}
